<div>

    {{#if big }}
    <h2> {{data}} </h2>
    {{else}}
    <h3> {{data}}</h3>
    {{/if}}


    {{!-- {{#each big=true}}
    <h2> {{data}} </h2>
    {{else}}
    <h3> {{data}} </h3>
    {{/each}} --}}
    {{!-- {{#each big=data}}
    <h2> {{data}} </h2>
    {{else}}
    <h3> {{data}} </h3>
    {{/each}} --}}

</div>