<div>

    {{#if big }}
    <h2 class="mb-5"> {{data}} </h2>
    {{else}}
    <h3 classmb-5> {{data}}</h3>
    {{/if}}

    <style>
        h2 {
            color: blueviolet;

        }

        h3 {
            color: red;
        }
    </style>
    {{!-- {{#each big=true}}
    <h2> {{data}} </h2>
    {{else}}
    <h3> {{data}} </h3>
    {{/each}} --}}
    {{!-- {{#each big=data}}
    <h2> {{data}} </h2>
    {{else}}
    <h3> {{data}} </h3>
    {{/each}} --}}

</div>